@import '../utilities/variables';

.board {
    width: -moz-calc(100% - #{$sidebar-width});
    width: -webkit-calc(100% - #{$sidebar-width});
    width: calc(100% - #{$sidebar-width});
    height: 590px;
    background-color: $board-color;
    float: left;
}