@import '../utilities/_variables.scss';

.note {
    width: 90%;
    height: 70px;
    border: {
        radius: 5px;
        top: 3px solid $primary-color;
    }
    background-color: $note-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: {
        top: 10px;
        left: 10px;
        right: 10px;
    }
    &:hover {
        .deleteNote {
            visibility: visible;
        }
    }
    p {
        margin: {
            top: 5px;
            left: 5px;
        }
    }
    .deleteNote {
        height: 18px;
        width: 18px;
        visibility: hidden;
        float: right;
        position: relative;
        top: 20px;
        right: 5px;
    }
}